.header {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #81c784;
    min-width: 600px;
}

.header img {
    width: 20px;
}

.headerTitle {
    display: flex;
    padding: 10px 0;
    -webkit-box-flex: 0;
    align-items: center;
}

.headerButton {
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #d4e7c5;
    border: none;
    margin-right: 20px;
    text-align: center;
}

.headerTitleName {
    margin: 0 15px;
    font-size: 20px;
    display: inline-block;
    color: white;
}

.headerTitleName>img {
    width: 110px;
    height: 30px;
}

.headerArticle {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    padding: 0 20px;
}

.headerIcon>img {
    margin-right: 10px;
    width: 20px;
}

.ProfileName {
    color: white;
}