#sidebar-container {
  transition: background-color 0.3s ease;

  /* 슬라이드 애니메이션 */
  .aside-slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: asideSlideIn 0.3s forwards;
  }

  @keyframes asideSlideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .aside-slide-out {
    opacity: 1;
    transform: translateX(0);
    animation: asideSlideOut 0.3s forwards;
  }

  @keyframes asideSlideOut {
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }

  /* 사이드바 기본 스타일 */
  .sidebar {
    width: 320px;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    max-width: 480px;
    flex-direction: column;
    overflow: scroll;
    background-color: #f1f8e9;

    /* 헤더 */
    .sidebar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #f1f8e9;
      border-bottom: 1px solid #ddd;

      h2 {
        margin: 0;
        font-size: 15px;
        flex-grow: 1;
      }
    }

    /* 메뉴 스타일 */
    nav.menu {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        font-size: 16px;
        color: #555;
        border-bottom: 1px solid #ddd;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f0f0f0;
        }

        &.menu-item {
          justify-content: space-between;

          .delete-button {
            display: none;

            &:hover {
              background-color: #aa8b8b;
              transform: scale(1.1);
            }
          }

          &:hover .delete-button {
            display: flex;
          }
        }
      }

      ul.sub-menu {
        margin-left: 20px;

        li {
          height: 50px;
          padding: 10px 15px;
          margin-bottom: 5px;
          border-bottom: 2px solid #ddd;
          cursor: pointer;
          background-color: #f7fcf4;
          border-radius: 10px;

          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }

    /* 추가 버튼 */
    .addButton {
      display: block;
      width: 100%;
      padding: 10px 15px;
      margin-top: 10px;
      background-color: #007bff;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  /* 더보기 버튼 */
  .more-button {
    padding: 8px 12px;
    background-color: #dcdcdc;
    color: #333;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #b0b0b0;
    }
  }
}
