#container {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  .content-container {
    position: relative;
    min-width: 1024px;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  .main-content {
    position: absolute;
    top: 0;
    left: 320px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
  }
}
// App의 모든 body
body:has(.Appcontainer) {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  display: flex;
  height: 100vh;
}

body > #root:has(.Appcontainer) {
  flex: 1 0 auto;
}
